.page {
  min-height: 80%;
}

.footer i {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 4%;
  margin-top: 1%;
  font-size: 2em;
  opacity: 0.4;
  color: black;
}

.footer i:hover {
  opacity: 0.8;
}
