.page {
    margin-top: 8%;
}


.footer i {
    margin-top: 20%;
    margin-left: 20px;
    margin-bottom: 4%;;
    font-size: 2em;
    opacity: 0.4;
    color: black;
}

.footer i:hover {
    opacity: 0.8;
}
